@import "../../styles/variables.scss";

.home {
  background-color: $grey;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__greeting {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: 700;
    transform: translateY(-100%);
    padding: 20px;
    transition: color .2s;
    background: linear-gradient(to right, #ff8a00, #da1b60);
    background-clip: text;
    &:hover {
      color: transparent;
    }
  }
}