@import '../../styles/variables.scss';

.pageHeader {
  padding: 35px;
  background: linear-gradient(90deg, $blue, $purple);
  color: white;
  margin-bottom: 20px;

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    max-width: 720px;
  }
}